@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Plus Jakarta Sans", Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-image: url("/assets/bg-lines.png");
	background-repeat: repeat-y;
	background-position: 57% 0;
}

a {
	text-decoration: inherit;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;

	&:hover {
		border-color: #646cff;
	}
	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	button {
		background-color: #f9f9f9;
	}
}

.header {
	&__navigation {
		li {
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: center;
			padding: 6px 8px;

			@media only screen and (max-width: 767px) {
			}

			&:hover::before {
				content: "";
				position: absolute;
				top: 0;
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 0.5rem;
				background-color: #f1f0ee;
			}
		}

		a {
			position: relative;
			display: block;
			z-index: 5;
			width: 100%;
			text-decoration: none;
			transition: transform ease-in-out 300ms;
		}
	}
}

footer {
	a {
		text-decoration: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}

@keyframes slide-fade-in {
	from {
		opacity: 0;
		transform: translateY(5vh);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.card,
	.section-title {
		view-timeline-name: --item-timeline;
		animation: slide-fade-in both;
		animation-timeline: --item-timeline;
		animation-range: contain 0% contain 50%;
	}
}

// text reveal animation with GSAP
.char {
	transform: translateY(7rem);
	transition: transform 300ms;
	opacity: 0;
}

.text-reveal-stagger {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	opacity: 0;
	transform: translateY(5vh);
	transition: opacity 300ms;
}

// general animation with GSAP
.element-reveal {
	opacity: 0;
	transform: translateY(5vh);
	transition: opacity 300ms;
}

.element-reveal-down {
	opacity: 0;
	transform: translateY(-5vh);
	transition: opacity 300ms;
}

.element-reveal-scale {
	opacity: 0;
	transform: scale(0);
	transition: opacity 300ms;
}

.element-reveal-slide-up {
	opacity: 0;
	transform: translateY(5vh);
	transition: opacity 300ms;
}
